
                      .checkbox_click {
                          display: inline-block;
                          width: 100px;
                          height: 40px;
                          cursor: pointer;
                          position: relative;
                      }

