<link href="patient.component.css" rel="stylesheet">
<p>Bienvenue dans notre cabinet medical! Together we stand against  the CoronaVirus!</p>
<div class="container" >
  <div class="row" >
    <div class="col-lg-8" >
      <form #userForm="ngForm" (ngSubmit)="onFormSubmit(userForm)">
        <div class="form-group" >
          <label>Votre nom: </label>
          <input type="text" ngModel  name=" saisir votre nom" id=" saisir votre nom" class="form-control"
                 placeholder=" saisir votre nom" >
          <br><br>
          <label>Votre password: </label>

          <input type="password" ngModel  name="saisir votre password " id="saisir votre password" class="form-control"
                 placeholder="saisir votre password" size="20" >
          <br><br>

          <label>Votre email:</label>

          <input type="text" ngModel  name="saisir votre email " id=" saisir votre email" placeholder="saisir votre email" class="form-control"/>

          <br><br>

          <label>Votre sexe:</label>
          <input type="radio" ngModel  id="masculin" name="masculin" value="masculin" class="form-control">
          <label for="masculin">Masculin</label>
          <input type="radio" ngModel id="femme" name="femme" value="femme" class="form-control" >
          <label for="femme">Femme</label>
          <br><br>



          <label>symptoms:</label>

          <select ngModel name="symptopms" multiple="multiple" class="form-control"/>
          <option value="fievre">fievre</option>
          <option value="toux seche">toux seche</option>
          <option value="fatigue">fatigue</option>
          <option value="diarrhee">diarrhee</option>
          <option value="maux_de_tete">maux de tete</option>
          <select/>

          <br><br>
          <textarea ngModel id="story" name="story"
                    rows="10" cols="100" class="form-control">
          votre sante est notre priorite,taper vos ajouts ici...
          </textarea> <br><br>


          <button type="submit" class="btn btn-primary">envoyer</button>
          <button type="button" class="btn btn-danger" (click)="resetUserForm(userForm)">annuler</button>

        </div>
      </form>
    </div>
  </div>
</div>






