

p {
  font-size:x-large;
  color:whitesmoke;ruby-merge:auto ;
  text-align: center;
  background-color:pink;
  size: A4;

}

body{
  padding-top: 20px;
  font-family:arial, sans-serif;
  font-size:90%;
}
[class*="col-lg-8"]{
  background-color:pink;
  border-radius: 2px 2px 2px 2px ;
  text-align: center;
  padding-right:4px;
  padding-left:4px;
  color: whitesmoke;
}
button {
  background-color:whitesmoke;
  color:pink;
}
