.list3 li{
    list-style: none;
}
.list3 li:before {
    content: "";
    border: 2px solid blue;
    /* border-top-color: transparent; */
    /* border-right-color: transparent; */
    /* border-bottom-color: transparent; */
    height: 4px;
    width: 4px;
    transform: rotate(45deg);
    margin-right: 5px;
    vertical-align: middle;
    display: inline-block;
}
