body{
    padding-top: 20px;
}
[class*="col-lg-1"]{
    background-color:deepskyblue;
    border-radius: 2px 2px 2px 2px ;
    text-align: center;
    padding-right:4px;
    padding-left:4px;
}
[class*="col-lg-2"]{
    background-color:mediumpurple;
    border-radius: 2px 2px 2px 2px ;
    text-align: center;
    margin-right: 0.4rem;
}
[class*="col-lg-3"]{
    background-color:pink;
    border-radius: 2px 2px 2px 2px ;
    text-align: center;
    margin-right: 0.4rem;
}
