<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/WEB-INF/templates/BasicTemplate.xhtml">
	<ui:define name="content">
		<h:form>
			<p:panel id="horizontal" header="Annuler un rendez-vous"
				toggleable="true" toggleOrientation="horizontal">
				<p>
					Vous avez le rendez-vous :
					<h:outputText value="#{annulerRdvBean.dateDuRendezVous}"></h:outputText>
				</p>
				<h:commandButton action="#{annulerRdvBean.annulerRendezVous}"
					value="Annuler" class="btn btn-primary"></h:commandButton>
				<h:commandButton action="#{annulerRdvBean.garderRendezVous}"
					value="Garder le rendez vous" class="btn btn-primary"></h:commandButton>
			</p:panel>
		</h:form>
	</ui:define>

</ui:composition>
</html>
