<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

	<ui:composition template="/WEB-INF/templates/BasicTemplate.xhtml">
	 <ui:define name="content">
	 <p:panel id="horizontal" header="Confirmation" toggleable="true" toggleOrientation="horizontal">
	 Votre rendez-vous est bien pris en compte pour le <h:outputText value="#{confirmationBean.dateDuRendezVous}"></h:outputText> .Merci!
	</p:panel>
	 </ui:define>
	  
	</ui:composition>
</html>
