<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/WEB-INF/templates/BasicTemplate.xhtml">
	<ui:define name="content">
		  <h:messages style="color:red;margin:8px;" />
	
	<h:outputText value="#{deplacerRdvBean.msg}"></h:outputText>
		<h:form>
			<p:panel id="horizontal" header="Déplacer un rendez-vous"
				toggleable="true" toggleOrientation="horizontal">
				<p>
					Vous avez le rendez-vous :
					<h:outputText value="#{deplacerRdvBean.dateDuRendezVous}"></h:outputText>
				</p>
				<p>Pour le déplacer veuillez sélectionner a nouveau le créneau
					qui vous convient:</p>
				<p:calendar id="pfdate" navigator="true" pattern="dd/MM/yyyy"
					mindate="#{deplacerRdvBean.currentDate}" showOn="button"
					value="#{deplacerRdvBean.nouveauRendezVous}" />
				<h:commandButton
					action="#{deplacerRdvBean.enregistrerRendezVous}"
					value="Valider" class="btn btn-primary"></h:commandButton>
			</p:panel>
		</h:form>
	</ui:define>

</ui:composition>
</html>
