<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">

<ui:composition template="/WEB-INF/templates/BasicTemplate.xhtml">
	<ui:define name="content">
		<h:form>
			<p:panel id="horizontal" header="Prise de rendez-vous"
				toggleable="true" toggleOrientation="horizontal">
				<p>Veuillez sélectionner le créneau qui vous convient</p>
				<p:calendar id="pfdate" navigator="true" pattern="dd/MM/yyyy"
					mindate="#{pagePrendreRendezVous.currentDate}"
					beforeShowDay="disableAllTheseDays" showOn="button"
					value="#{pagePrendreRendezVous.dateDuRendezVous}" />

				<p>Puis valider</p>

				<h:commandButton
					action="#{pagePrendreRendezVous.enregistrerRendezVous}"
					value="Valider" class="btn btn-primary"></h:commandButton>
			</p:panel>


		</h:form>



		<h:outputScript>
 //<![CDATA[
			
			//var disabledDays = ["4-14-2020"];
			var disabledDays = ['#{pagePrendreRendezVous.datesIndisponibles}'];
			
			
			console.log(typeof disabledDays);
			console.log(disabledDays);
			function disableAllTheseDays(date) {
			    var m = date.getMonth(), d = date.getDate(), y = date.getFullYear();
			    for (i = 0; i < disabledDays.length; i++) {
			        if($.inArray((m+1) + '-' + d + '-' + y,disabledDays) != -1) {
			            return [false];
			        }
			    }
			    return [true];
			}
			 //]]>
		</h:outputScript>
	</ui:define>
</ui:composition>


</html>
